h1.text-danger {
    font-family: "Georgia";
    color: #ff0000e5;
    font-size: 48px;
    padding: 25px;
    border: 26px;
    border-color: red;
    margin-bottom: 1%;
    background-color: blue;
}

table {
    font-family: 'Helvetica';
    font-size: 20px;
    /* border: solid 2px #ff0000; */
    border-collapse: collapse;
    /* color: #ff0000e5;
    border: #ff0000; */
}

td {
    border: solid 3px black;
}

body {
    background: url("images/barn.jpg");
    background-size: cover;
    background: white;
    display: block;
}

/* Google Map widget start */
.mapouter {
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
    
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}
/* Google Map widget end */